	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/11/2019 06:01
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../css/fonts/Flaticon.eot");
  src: url("../css/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../css/fonts/Flaticon.woff2") format("woff2"),
       url("../css/fonts/Flaticon.woff") format("woff"),
       url("../css/fonts/Flaticon.ttf") format("truetype"),
       url("../css/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../css/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
        font-family: Flaticon;
        font-size: 20px;
        font-style: normal;
}

.flaticon-shop:before { content: "\f100"; }
.flaticon-shop-1:before { content: "\f101"; }
.flaticon-home:before { content: "\f102"; }
.flaticon-play-arrow:before { content: "\f103"; }
.flaticon-forward-arrow:before { content: "\f104"; }
.flaticon-forward-right-arrow-button:before { content: "\f105"; }
.flaticon-play-arrow-1:before { content: "\f106"; }
.flaticon-next:before { content: "\f107"; }